nav{
    float: left;
    margin-top: 1%;
    width: 101%;
}

#logo {
    float: left;
    width: 18%;
    margin-top: 1%;
}


#nav li{
    float: left;
    width: 12%;
    text-align-last: center;
    font-size: 180%;
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin: 0;

    }
    #nav li a:hover {
        width: 100%;
        padding: 1% 1%;
        display: block;
        
  }  

 
#Menu li{
    float:initial;
    width: 7%;
    text-align-last: center;
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin: 0;
    
    }
#Menu li a:hover {
    width: 100%;
    padding: 1% 1%;
    display: block; 
  } 

#navayuda{
    float: left;
    margin-top: 8%;
    width: 22%;
    height: 2%;
    margin-left: 10%;
}
#navegacionLoMeAY li{
    float: left;
    width: 31%;
    text-align-last:center;
    font-size: 150%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin: 0;
    list-style: none;
}
#navegacionLoMeAY li a{
    width: 100%;
        padding: 0 0%;
        display: block;
        float: left;
}
*{
    margin: 0;
    padding: 0; 
}
h1{
    margin-left: 17%;
    margin-top: 3%;
}
h2{
    margin-left: 5%;
    margin-top: 8%;
}


#BloqueMedio{
    float: left;
    width: 14%;
    margin-left: 40%;
    margin-top: 0%;
    height: 30%;
}



footer{
    text-align:unset;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 3%;
    text-align: center ;
    float: left;

}
#Mapa {
    float: left;
    width: 70%;
    margin-left: 120%;
    margin-top: -115%;

}
#MapaC{
    float: left;
    width: 70%;
    margin-left: 120%;
    margin-top: -38%;
}

#Historia{
    float: left;
    margin-top: -14%;
    margin-left: 18%;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 30%;
    background-color: rgb(21, 124, 168,0.6);
}


#Historia2{
    float: left;
    margin-top: 27%;
    margin-left: -31%;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 30%;
    background-color: rgb(21, 124, 168,0.6);
}
#Historia3{
    float: left;
    margin-top: 64%;
    margin-left: -31%;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 30%;
    background-color: rgb(21, 124, 168,0.6);
}
#Historia4{
    float: left;
    margin-top: 84%;
    margin-left: -31%;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 30%;
    background-color: rgb(21, 124, 168,0.6);
}
#Historia5{
    float: left;
    margin-top: 103%;
    margin-left: -31%;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 30%;
    background-color: rgb(21, 124, 168,0.6);
}
#Historia6{
    float: left;
    margin-top: 121%;
    margin-left: -31%;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 30%;
    background-color: rgb(21, 124, 168,0.6);
}
#Historia7{
    float: left;
    margin-top: 142%;
    margin-left: -31%;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 30%;
    background-color: rgb(21, 124, 168,0.6);
}
#Historia8{
    float: left;
    margin-top: 157%;
    margin-left: -31%;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 30%;
    background-color: rgb(21, 124, 168,0.6);
}
#Historia9{
    float: left;
    margin-top: 166%;
    margin-left: -31%;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 30%;
    background-color: rgb(21, 124, 168,0.6);
}
#Historia10{
    float: left;
    margin-top: 184%;
    margin-left: -31%;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 30%;
    background-color: rgb(21, 124, 168,0.6);
}
#Historia11{
    float: left;
    margin-top: 199%;
    margin-left: -31%;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 30%;
    background-color: rgb(21, 124, 168,0.6);
}
#Historia12{
    float: left;
    margin-top: 211%;
    margin-left: -31%;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 30%;
    background-color: rgb(21, 124, 168,0.6);
}


#CiuA{
    float: left;
    width: 14%;
    margin-left: 43%;
    margin-top: 0%;
    height: 30%;
}
#C1 {
    float: left;
    width: 8%;
    margin-left: -48%;
    margin-top: 26%;
}
#C2 {
    float: left;
    width: 11%;
    margin-left: -13%;
    margin-top: 26%;
}
#C3 {
    float: left;
    width: 6%;
    margin-left: 21%;
    margin-top: 26%;
}

#IC1{
    float: left;
    width: 22%;
    margin-left: -56%;
    margin-top: 7%;

}
#IC2{
    float: left;
    width: 22%;
    margin-left: -19%;
    margin-top: 7%;
}

#IC3 {
    float: left;
    width: 22%;
    margin-left: -12%;
    margin-top: 7%;
}

.nom{

        float: left;
        width: 14%;
        margin-left: 40%;
        margin-top: 0%;
        height: 30%;
}

.correo{

    float: left;
    width: 14%;
    margin-left: 40%;
    margin-top: 0%;
    height: 30%;
}


.telefono{

    float: left;
    width: 14%;
    margin-left: 40%;
    margin-top: 0%;
    height: 30%;
}

.asunto{

    float: left;
    width: 14%;
    margin-left: 40%;
    margin-top: 0%;
    height: 30%;
}

#BloqueImagen{
    float: left;
    height: max-content;
    width: 57%;
    margin-left: 18%;
    margin-top: 200%;
    margin-right: 2%;
}
#BloqueHistoria{
    float: left;
    height: max-content;
}

#BloqueNavegacion{
    float: left;
    height: max-content;
}
#Pie{
    float: left;
    width: 100%;
}
