@font-face {
    font-family: "OLF";
    src: url("../Estilo_Tex/Original_Surfer/OriginalSurfer-Regular.ttf");

}

body{
    background-image: url(../Imagenes/fondo.jpg);
    background-size: cover;
}

#audio{
    float: left;
    width: 15%;
    margin-left: -17%;
    margin-top: 16%;
}

.Video{
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-top: 6%;
}

#nav li{
    border: black solid;
    font-style: italic;
    list-style: none;
    font-family: 'OLF'; 
     background-color: greenyellow; 
}
#nav li a:hover{
    background-color: yellow;
}


#Menu li{
    border: black solid;
    font-style: italic;
    list-style: none;
    font-family: 'OLF'; 
     background-color: greenyellow; 
}
#Menu li a:hover{
    background-color: yellow;
}

#navayuda{
    float: left;
    font-style: italic;
}

#navegacionLoMeAY li {
    background-color: greenyellow;
    border: black solid;
}

#navegacionLoMeAY li a:hover{
        background-color:yellow; 
}

h1 {color: whitesmoke; 
    font-family: 'OLF'; 
    font-weight: bolder;
    text-decoration: underline;
    font-size:700%;
    float: left;
}

h2 {color: whitesmoke; 
    font-family: 'OLF'; 
    font-weight: bolder;
    font-size:500%;
    float: left;
}

em{
    color: whitesmoke;
}
samp {
    color: whitesmoke;
}
.nom{
    color: whitesmoke; 
    font-family: 'OLF'; 
    font-weight: bolder;
    font-size:200%;
    float: left;
}

.correo{
    color: whitesmoke; 
    font-family: 'OLF'; 
    font-weight: bolder;
    font-size:200%;
    float: left;
}


.telefono{
    color: whitesmoke; 
    font-family: 'OLF'; 
    font-weight: bolder;
    font-size:200%;
    float: left;
}

.asunto{
    color: whitesmoke; 
    font-family: 'OLF'; 
    font-weight: bolder;
    font-size:200%;
    float: left;
}

#cuadroMenu{
    background-color: rgb(21, 124, 168,0.6);
}

#Historia,#HistoriaDos,#HistoriaDosG, #Historia2,#Historia3,#Historia4,#Historia5,#Historia6,#Historia7,#Historia8,#Historia9,#Historia10,#Historia11,#Historia12{
    color: whitesmoke;
    
    background-color: rgb(21, 124, 168,0.6);
}
#Mapa {
    border: black solid;
}

#MapaC {
    border: black solid;
}
#MapaM {
    border: black solid;
}

#MapaCM {
    border: black solid;
}
#MapaG {
    border: black solid;
}

#MapaCG {
    border: black solid;
}

#IC1 {
    border: black solid;
}


#IC2 {
    border: black solid;
}


#IC3 {
    border: black solid;
}

#CiuA{

    color: #5dc1b9 ; 
    font-family: 'OLF'; 
    font-weight:normal;
    font-size: 400%;
}

#C1{
    color: #5dc1b9; 
    font-family: 'OLF'; 
    font-weight:normal;
    font-size: 200%;

}

#C2{
    color: #5dc1b9; 
    font-family: 'OLF'; 
    font-weight:normal;
    font-size: 200%;
}

#C3{
    color: #5dc1b9; 
    font-family: 'OLF'; 
    font-weight:normal;
    font-size: 200%;
}
h3{
    color: whitesmoke;
    text-align: center;
    font-size: xxx-large;
}

footer{
    color:whitesmoke;
}

.tftable {
    margin-top: 0%;
    font-size:20%;
    color:#333333;
    width: 100%;
    margin-left: 0%;
    border-color: #729ea5;
}
.tftable th {
    
    background-color:#acc8cc;
    border-width: 1%;
    padding: 8%;
    border-style: solid;
    border-color: #729ea5;
    text-align:left;
}
.tftable tr {
    background-color:#d4e3e5;
}
.tftable td {
    width: 50px;
    text-align-last:center;
    font-size: xx-large;
    border-width: 1%;
    padding: 3%;
    border-style: groove;
    border-color: #729ea5;
}

